PORT=8080
DOMAIN=localhost
DEBUG=true
SERVER_ENV=dev

DB_DRIVER=pgx
DB_HOST=diva_db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=diva
DB_SCHEMA=public

JWT_SECRET=super secret

RESEND_API_KEY=re_your_api_key
RESEND_FROM_EMAIL=onboarding@resend.dev

ROOT_USERNAME=user
ROOT_PASSWORD=1234
ROOT_EMAIL=user@gmail.com
